flows.json
[{"id":"e842f660.988a98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"e842f660.988a98","name":"","active":false,"console":"false","complete":"false","x":650,"y":200,"wires":[]},{"id":"32413c83.eeac84","type":"ui_form","z":"e842f660.988a98","name":"","label":"","group":"1ee29260.17c02e","order":4,"width":0,"height":0,"options":[{"label":"age","value":"a","type":"number","required":true,"rows":null},{"label":"bmi","value":"b","type":"number","required":true,"rows":null},{"label":"children","value":"c","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":270,"y":140,"wires":[["c68cffa3.8cc13"]]},{"id":"99f94bb9.abd0f8","type":"ui_dropdown","z":"e842f660.988a98","name":"","label":"Select Sex","tooltip":"","place":"Select option","group":"1ee29260.17c02e","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"female","value":"female","type":"str"},{"label":"male","value":"male","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":290,"y":320,"wires":[["f5a6e3c6.27125"]]},{"id":"e72b09c6.8efba8","type":"ui_dropdown","z":"e842f660.988a98","name":"","label":"smoker","tooltip":"","place":"Select option","group":"1ee29260.17c02e","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"yes","value":"yes","type":"str"},{"label":"no","value":"no","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":280,"y":400,"wires":[["581bf6fb.da7cb8"]]},{"id":"7136ca8a.39ba54","type":"ui_dropdown","z":"e842f660.988a98","name":"","label":"region","tooltip":"","place":"Select option","group":"1ee29260.17c02e","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"southwest","value":"southwest","type":"str"},{"label":"southeast","value":"southeast","type":"str"},{"label":"northwest","value":"northwest","type":"str"},{"label":"northeast","value":"northeast","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":270,"y":480,"wires":[["6021a32b.207bbc"]]},{"id":"5ad94900.766708","type":"debug","z":"e842f660.988a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":300,"wires":[]},{"id":"496d735b.07a34c","type":"debug","z":"e842f660.988a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":400,"wires":[]},{"id":"8ffe2f39.043c7","type":"debug","z":"e842f660.988a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":480,"wires":[]},{"id":"c68cffa3.8cc13","type":"function","z":"e842f660.988a98","name":"","func":"global.set(\"age\",msg.payload.a)\nglobal.set(\"bmi\",msg.payload.b)\nglobal.set(\"children\",msg.payload.c)\n\nvar apikey = \"XMMoUKeqZYdiqfh15dbET17O0Z2AktCdM4H11R1iov-I\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":140,"wires":[["f2f2649a.0d0d98","7c0eb42b.5da2bc"]]},{"id":"f5a6e3c6.27125","type":"function","z":"e842f660.988a98","name":"","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["5ad94900.766708"]]},{"id":"581bf6fb.da7cb8","type":"function","z":"e842f660.988a98","name":"","func":"global.set(\"smoker\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":400,"wires":[["496d735b.07a34c"]]},{"id":"6021a32b.207bbc","type":"function","z":"e842f660.988a98","name":"","func":"global.set(\"region\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":480,"wires":[["8ffe2f39.043c7"]]},{"id":"7c0eb42b.5da2bc","type":"http request","z":"e842f660.988a98","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":100,"wires":[["127da60a.59799a","556ebe82.724aa"]]},{"id":"127da60a.59799a","type":"debug","z":"e842f660.988a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":140,"wires":[]},{"id":"556ebe82.724aa","type":"function","z":"e842f660.988a98","name":"","func":"var age=global.get(\"age\")\nvar bmi=global.get(\"bmi\")\nvar children=global.get(\"children\")\nvar sex=global.get(\"sex\")\nvar region=global.get(\"region\")\nvar smoker=global.get(\"smoker\")\nvar token= msg.payload.access_token\n\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"age\",\"bmi\",\"children\",\"sex\",\"smoker\",\"region\"]],\"values\":[[age,bmi,children,sex,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":60,"wires":[["f6718507.263ed8"]]},{"id":"f6718507.263ed8","type":"http request","z":"e842f660.988a98","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/d965ce5f-3511-4290-a5cc-0f8a5fad93ff/predictions?version=2021-07-12","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":60,"wires":[["2759e39e.ca71cc","b7585a68.9a3c38"]]},{"id":"2759e39e.ca71cc","type":"debug","z":"e842f660.988a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":160,"wires":[]},{"id":"b7585a68.9a3c38","type":"function","z":"e842f660.988a98","name":"","func":"msg.payload= msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":40,"wires":[["a0517320.098db","543eda27.345154"]]},{"id":"a0517320.098db","type":"debug","z":"e842f660.988a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":100,"wires":[]},{"id":"543eda27.345154","type":"ui_text","z":"e842f660.988a98","group":"1ee29260.17c02e","order":5,"width":0,"height":0,"name":"","label":"The prediction is","format":"{{msg.payload}}","layout":"row-spread","x":1460,"y":40,"wires":[]},{"id":"1ee29260.17c02e","type":"ui_group","name":"enter the values","tab":"b85ff5d1.169328","order":1,"disp":true,"width":"6","collapse":false},{"id":"b85ff5d1.169328","type":"ui_tab","name":"prediction","icon":"dashboard","disabled":false,"hidden":false}]